/server/.husky/
/server/node_modules/
/server/build/
/server/Dockerfile.dev/
/server/.eslintrc.json/
/server/.prettierrc/
/server/.prettierignore/
/client/node_modules/
.git/
/client/.gitignore/
.vscode/
/client/.vscode/
/client/build/
/client/dist/
/client/Dockerfile.dev/
/client/README.md/
/client/.eslintrc.cjs/
.gitignore/
.dockerignore/
docker-compose.yml/